/*GENERAL*/
body{margin:0%;}
ul{list-style-type: none;}
header{background-color: #c9d1c8;}
a{text-decoration: none; color:#04202c;margin: 15px;
font-size: 20px;}
.titulo{display: flex;flex-direction: column;
        align-items: center; background-color: #5b7065;}
.parrafo1, .parrafo2{background-color: #c9d1c8;}
    /*Imágenes*/
.port{height: 600px;}
.img-fluid{width: 100%;}
    /*FUENTES*/
@font-face {
font-family: "Battambang";
src: url("../fonts/Battambang-Bold.ttf");
font-family: "Balthazar";
src: url("../fonts/Balthazar-Regular.ttf");
font-family: "CormorantUnicase";
src: url("../fonts/CormorantUnicase-Medium.ttf");
font-family: "SpaceGrotesk";
src: url("../fonts/SpaceGrotesk-VariableFont_wght.ttf");
}
    /*TEXTOS*/
.titulo{display: flex;flex-direction: column;
        align-items: center; background-color:#04202c;}
h1{font-size: 50px; color:#c9d1c8;}
h3{font-size: 20px;margin:5px;}
.datos{font-size: 15px;margin: 5px;}
.parrafo1, .parrafo2{background-color: #c9d1c8;}
.p1{font-size: 25px;color:#04202c;
    margin:40px;padding: 20px;}
.p2{font-size: 25px;color:#c9d1c8;
    background-color: #04202c;padding:20px;margin:30px 80px;
    font-family: sCormorantUnicase;}
.contacto{display: flex;flex-direction: column;
          align-items: center;color:black;}

    

/*Media Queries*/
@media (min-width:1024px) {
    nav{display: flex;}
    ul{display: flex;flex-direction: row;align-items:center ;}
    /*GRIDS*/
    .grid{
        display: grid;
        grid-template-areas: 
        "header"
        "main"
        "footer";
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
    }
    header{grid-area: header}
    main{grid-area: main;}
    footer{grid-area: footer; height:auto;}
    header, footer, ul{display: flex;flex-direction: row;}
    footer{justify-content: space-between;background-color:#c9d1c8;}

    .gridmain{
        display: grid;
        grid-template-areas: 
        "portada portada"
        "titulo titulo"
        "espacio tunel"
        "fabrica parrafo"
        "espacio2 parrafo2";
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, auto);
    }
    .portada{grid-area: portada;background-color: #5b7065;}
    .titulo{grid-area: titulo;}
    .espacio{grid-area: espacio; background-color: #5b7065;;}
    .imgTunel{grid-area: tunel;background-color: #c9d1c8;}
    .imgFabrica{grid-area: fabrica; background-color: #5b7065;}
    .parrafo1{grid-area: parrafo;}
    .espacio2{grid-area: espacio2; background-color: #5b7065;;}
    .parrafo2{grid-area: parrafo2;}

}
@media (max-width:768px){
    /*GENERAL*/
    header, footer{display: flex;flex-direction: column;align-items: center;}
    footer{background-color: #c9d1c8;}
    ul{display: flex;flex-wrap:wrap;background-color: #c9d1c8;}
    a{margin:15px;padding: 15px;}
    /*TEXTOS*/
    h1{font-size: 40px;}
    h3{font-size: 20px;margin:5px;}
    .datos{font-size: 20px;margin:5px;}
    .p1{font-size: 25px;margin: 0%;}
    .p2{font-size: 25px;margin: 0%;}
    .portada, .imgFabrica, .imgTunel{background-color: #5b7065;}
    .port{height: 300px;}
    .parrafo1, .parrafo2{background-color: #5b7065;height: 300px;} 
    .espacio1, .espacio2{ background-color: #5b7065;}
    .contacto{display: flex;flex-direction: column;align-items: center;}
}